@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */

* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #695b5c;
}

/* Nav Options */
nav {
  background: #695b5c;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

nav div {
  display: flex;
  gap: 3rem;
}

nav div a {
  color: white;
  transition-duration: 0.2s;
  text-decoration: none;
}
nav div a:hover {
  cursor: pointer;
  font-weight: 400;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

/* ~~~~~~~~~~~ Home Page ~~~~~~~~~~~ */

.home {
  width: max-content;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  justify-content: center;
}

.home .heading {
  color: white;
  padding: 2rem;
}

.home .heading h1 {
  font-size: 4rem;
}
main {
  height: 600px;
}

.home p {
  color: chocolate;
}

/* Options */
.options-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  position: relative;
  top: 22rem;
}

.opt {
  background-color: #dfba7a;
  width: 18rem;
  height: 15rem;
  padding: 2rem;
  text-align: center;
  font-size: larger;
  overflow: auto;
  transition-duration: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.1) 0px 18px 36px -18px inset;
}

.opt:hover {
  background-color: azure;
  transform: scale(1.02);
  transition-duration: 0.5s;
}
.opt h3 {
  font-size: 2.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.opt p {
  width: 15rem;
  text-align: center;
  padding-top: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.opt button {
  margin-top: 0.5rem;
  padding: 0.4rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: 0.5px black solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition-duration: 0.3s;
  box-shadow: 1px 1px 5px black;
}
.opt button:hover {
  cursor: pointer;
  background-color: rgba(95, 158, 160, 0.158);
  transition-duration: 0.3s;
}

.advocate p {
  margin-bottom: 2rem;
  margin-top: 1rem;
}
/* Footer */
footer {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0.5rem;
}

